body{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.header{
  display: flex;
  flex-direction: row;
  align-items: center;
  width:500px;
  justify-content: space-between;
}
.footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 300px;
}
.board {
  width: 500px;
  height: 500px;
  display: grid;
  border: 2px solid black;
  margin: 20px 0;
  box-sizing: border-box; /* ensures border is included in size */
}
